#container {
	background-color: white
}

#container{
	width: 800px;
	margin:0 auto
}
#fixedpicture{
	margin:0;
	padding: 0;
}
#content{
	padding: 10px;

}
#input{
	width: 180px;
	float: left;
	display: inline-block;
}
#main{
	width: 600px;
	float: right;
	text-align: center;
	margin:0;
	display: inline-block;
}
i{
	color: blue
}
input{
	color: gray;
}